
.btn{
 background: #ff701e;
 border: 2px solid #ff701e;
 border-radius: 60px;
 color: #fff;
 display: block;
 font-weight: bold;
 max-width: 300px;
 padding: 15px 40px;
 text-align: center;

 cursor: pointer;
 transition: .2s cubic-bezier(0.45, 0, 0.55, 1);

}

.btn:hover {
    letter-spacing: 0.15em;
  }

  #optionArea {
    display : none;
  }

.IN{
    margin-left:43%;
    margin-right: auto;
    margin-top: 200px;
}

body{
    background-image:url(neko890.jpg);
}

.output{
    text-align: center;
    
}

.people_list{
    font-size: 25px; 
}

.SAIKORO_list {
    background: linear-gradient(to right, #e23d14 0%,#cc403b 50%,#ed6d42 100%);
    border-radius: 5px;
    max-width: 200px;
    height: 40px;
    animation: poyoyon 0.5s cubic-bezier(0.12, 0, 0.39, 0) 1 forwards;
  }
  
   
  @keyframes poyoyon {
    0% {
      transform: translateX(140px);
      opacity: 0;
    }
    50% {
      transform: translateX(0);
    }
    65% {
      transform: translateX(30px);
    }
    100% {
      transform: translateX(0);
    }
    20%,100% {
      opacity: 1;
    }
  }

.result{
    background-color: aliceblue;
}

#optionArea{
  display:none;
}
